header.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    padding: 15px 0;

    border-radius: 5px;
    background-color: #333333;
}

header.header div.header-title {
    text-align: center;
}
header.header div.header-title p {
    margin: 0;
}
header.header div.header-title p:nth-child(1) {
    font-size: 40px;
    font-weight: 600;
    margin-top: -10px;

    color: rgba(109, 51, 178, 1);
}
header.header div.header-title p:nth-child(2) {
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: -5px;

    color: #ffffff;
}

header.header ul.header-links {
    display: flex;
    list-style: none;
}
header.header ul.header-links li {
    margin: 0 15px;
}
header.header ul.header-links li a {
    font-size: 18px;

    text-decoration: none;
    color: #ffffff;

    transition: all ease-in-out 0.3s;
}
header.header ul.header-links li a:hover {
    text-decoration: underline;

    color: rgba(109, 51, 178, 1);
}

header.header a.header-contact {
    padding: 10px 20px;
    font-size: 18px;

    text-decoration: none;
    border-radius: 3px;
    color: #ffffff;
    background-color: rgba(109, 51, 178, 1);

    transition: background-color ease-in-out 0.3s;
}
header.header a.header-contact:hover {
    color: #ffffff;
    background-color: rgba(109, 51, 178, 0.5);
}





/*
//  .:.                            .-++=                                       
// -###*-                         -*####-                                      
// *#####*:                     .+##***#=                                      
// ***#####+.                  :####***#=                                      
// *****####*-               .=####*****-                                      
// =****####%#*-.......:...:-*###***+*+*.         ...                          
// .*******###**+====::-===+******++++++      :=******++-.                     
//  +**+*++****+++=-=::---===+++++++++*+    .=*####******+:                    
//  =#**+++++++++++==--==-=++===+++****-    :*######*******-                   
//  :*#*++*+++==++==+======++=-====++**.    .-*###**********:                  
//   +**++++++==+++++======++++==-===+=       .-+++++*******+.                 
//   :==+++++++++**++===++++++**+====-:.           .=**##****:                 
//  .-=++++*##%##***+=====-+#%+**+=--:::           .+*######*:                 
//  :=+++===*+##*#==+==--:-=-#*-+-=---:-.          =*#######*-                 
//  +++++==---===#*=+===-:=+:---===-:---:         :+*######**-                 
//  +*++++==---::-===--:---::--====----=-        .+*###**#**-                  
//  =***+*+++==----=+==+=+-:--=+==-----=:       :+#####****+:                  
//  .++++++++++=---=#%###+-::-====-==--=.      -*######****+.                  
//   -*++***+++=---=-+##+--:-----+++===:     .=*########**=.                   
//   .+******+=+=+====+*==--++=--===++=:    :+#######****=.                    
//    -***+++++*+==++**#*+++++*===+++*+-. .=*######******:                     
//     =**##**++**+****+*#****++++++++-==:*#######*****=.                      
//     .+**#*+*+*****++++****+++*+--=====-=*#***####**+.                       
//     .=+++=*+++*+***++++*+*+++==+==+=++=-=******##*-.                        
//     :#*==++*+***###*####***+*+++**++===--+****#*+.                          
//     =#++**+***#############****+**+===--==**##*=.                           
//     =**##***################**+*+*++==-===***=.                             
//     -*###*#*###%%%#####%####****++++==--====:                               
//     =*###*#*####%%##########***+*+++=---=+-                                 
//    .+*#####*##############*****+*+++===-=*-                                 
//    :**##*##*############*******++++======*=                                 
//    :*****###*##########*******++++++=====*+                                 
//    :******##*#########*****+**++++=======*+                                 
//    .+*********#*********+++++*+++++======*+                                 
//    .+****+*****************++**++========*+.                                
//     =*************#*******+*++++++=======++:                                
//     =+******************+++++++++=+======++:                                
//     -+*+***************++++++++++++======++-                                
//     :+**+******++*+++++++++++++++++=++===+=-                                
//     -+*************++++++++++++++++======+=:                                
//     :**+***********+++************+====+===.                                
//     .+*++******************#****++++==+*+=-                                 
//      :*++*************************++===++-.                                 
//       +*+*****************##*******+==++=:                                  
//       -*+******#****##***#####*#**++==++=.                                  
//       :******###**##############***+=-++-                                   
//        +*******######*#####*++++++++===+:                                   
//        :***#####%%###*******++****++====.                                   
//        .+**###%#%%%##****+*+++*****+===-                                    
//         -***#####%%##****++*+**#***+===:                                    
//          =**#####%%##++**++**##***+=-==.                                    
//          :***#####%#*+*#*++**##**+++===.                                    
//          .+*****####*+###*++*****+====-                                     
//           -*****####**###+=++***++=+==:                                     
//           .+**********%%#*=++***+++=+=.                                     
//            -+***+*****%%%#==+*+++++==-                                      
//            .=********+%%%#==***+==++=.                                      
//             :++*+++**+#%%#=++*++====:                                       
//             .=++++***++%%*=+***+=-==.                                       
//              =++++***++##+++***+=---                                        
//              :+++*****=*#+==+*++=--:                                        
//              :=+**####*+#+=+***+=--:                                        
//              .=***###%#**=+****+==-:                                        
//              =++**####%*+=+++*#***+:                                        
//             .++*######%#==++#+***+==:                                       
//             .****#**###*-=**#*##**+==.                                      
//              ....::::::--=********+==.                                      
//                         .::----=--:..                                       
*/
