section#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;

    background-image: url("../imgs/bg.png");
    background-size: cover;
}
section#home::before {
    filter: blur(10px);
}

section#home h1 {
    margin: 0;
    font-size: 60px;
    line-height: 65px;

    color: #ffffff;
}

section#home h2 {
    font-size: 35px;
    font-weight: 400;

    color: #ffffff;
}

section#home a {
    padding: 15px;
    margin-top: 50px;
    font-size: 20px;

    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(109, 51, 178, 1);

    transition: background-color ease-in-out 0.3s;
}
section#home a:hover {
    background-color: rgba(109, 51, 178, 0.8);
}





/*
//  .:.                            .-++=                                       
// -###*-                         -*####-                                      
// *#####*:                     .+##***#=                                      
// ***#####+.                  :####***#=                                      
// *****####*-               .=####*****-                                      
// =****####%#*-.......:...:-*###***+*+*.         ...                          
// .*******###**+====::-===+******++++++      :=******++-.                     
//  +**+*++****+++=-=::---===+++++++++*+    .=*####******+:                    
//  =#**+++++++++++==--==-=++===+++****-    :*######*******-                   
//  :*#*++*+++==++==+======++=-====++**.    .-*###**********:                  
//   +**++++++==+++++======++++==-===+=       .-+++++*******+.                 
//   :==+++++++++**++===++++++**+====-:.           .=**##****:                 
//  .-=++++*##%##***+=====-+#%+**+=--:::           .+*######*:                 
//  :=+++===*+##*#==+==--:-=-#*-+-=---:-.          =*#######*-                 
//  +++++==---===#*=+===-:=+:---===-:---:         :+*######**-                 
//  +*++++==---::-===--:---::--====----=-        .+*###**#**-                  
//  =***+*+++==----=+==+=+-:--=+==-----=:       :+#####****+:                  
//  .++++++++++=---=#%###+-::-====-==--=.      -*######****+.                  
//   -*++***+++=---=-+##+--:-----+++===:     .=*########**=.                   
//   .+******+=+=+====+*==--++=--===++=:    :+#######****=.                    
//    -***+++++*+==++**#*+++++*===+++*+-. .=*######******:                     
//     =**##**++**+****+*#****++++++++-==:*#######*****=.                      
//     .+**#*+*+*****++++****+++*+--=====-=*#***####**+.                       
//     .=+++=*+++*+***++++*+*+++==+==+=++=-=******##*-.                        
//     :#*==++*+***###*####***+*+++**++===--+****#*+.                          
//     =#++**+***#############****+**+===--==**##*=.                           
//     =**##***################**+*+*++==-===***=.                             
//     -*###*#*###%%%#####%####****++++==--====:                               
//     =*###*#*####%%##########***+*+++=---=+-                                 
//    .+*#####*##############*****+*+++===-=*-                                 
//    :**##*##*############*******++++======*=                                 
//    :*****###*##########*******++++++=====*+                                 
//    :******##*#########*****+**++++=======*+                                 
//    .+*********#*********+++++*+++++======*+                                 
//    .+****+*****************++**++========*+.                                
//     =*************#*******+*++++++=======++:                                
//     =+******************+++++++++=+======++:                                
//     -+*+***************++++++++++++======++-                                
//     :+**+******++*+++++++++++++++++=++===+=-                                
//     -+*************++++++++++++++++======+=:                                
//     :**+***********+++************+====+===.                                
//     .+*++******************#****++++==+*+=-                                 
//      :*++*************************++===++-.                                 
//       +*+*****************##*******+==++=:                                  
//       -*+******#****##***#####*#**++==++=.                                  
//       :******###**##############***+=-++-                                   
//        +*******######*#####*++++++++===+:                                   
//        :***#####%%###*******++****++====.                                   
//        .+**###%#%%%##****+*+++*****+===-                                    
//         -***#####%%##****++*+**#***+===:                                    
//          =**#####%%##++**++**##***+=-==.                                    
//          :***#####%#*+*#*++**##**+++===.                                    
//          .+*****####*+###*++*****+====-                                     
//           -*****####**###+=++***++=+==:                                     
//           .+**********%%#*=++***+++=+=.                                     
//            -+***+*****%%%#==+*+++++==-                                      
//            .=********+%%%#==***+==++=.                                      
//             :++*+++**+#%%#=++*++====:                                       
//             .=++++***++%%*=+***+=-==.                                       
//              =++++***++##+++***+=---                                        
//              :+++*****=*#+==+*++=--:                                        
//              :=+**####*+#+=+***+=--:                                        
//              .=***###%#**=+****+==-:                                        
//              =++**####%*+=+++*#***+:                                        
//             .++*######%#==++#+***+==:                                       
//             .****#**###*-=**#*##**+==.                                      
//              ....::::::--=********+==.                                      
//                         .::----=--:..                                       
*/
